;; Modified by Heavy Computation in 2026 as part of its Agent-o-rama fork.
{:lint-as
 {com.rpl.agent-o-rama/defagentmodule clojure.core/defn
  com.rpl.agent-o-rama/agentmodule clojure.core/fn}
 :hooks
 {:analyze-call
  {com.rpl.agent-o-rama.tools/deftool
   hooks.com.rpl.agent-o-rama.tools/deftool}}}
